.vscode/
.idea/
target/

server/target
server/pom.xml
server/src/main/resources/application.properties
server/src/main/java/net/guides/springboot2/crud/downloads/
server/src/main/java/net/guides/springboot2/crud/downloads/
server/src/main/java/net/guides/springboot2/crud/services/WebParserService.java

client/src/Demo/Resources/server-address.js
client/debug.log
client.rar

csv/

webdb-data.tar